* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin: 10px 0 5px;
}

body {
  font-family: 'Helvetica Neue', 'M PLUS Rounded 1c',  sans-serif;
  color: #3b3b3b;
}

.container__outer {
  background-color: #202020;
  min-height: 100vh;
}

.container {
  display: flex;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 0;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(247, 252, 255);
}

.try,
.answer {
  width: 100%;
  text-align: center;
  margin: 10px auto 20px;
}

.inner-header {
  margin-bottom: 40px;
}

.title {
  display: inline-block;
  width: 80%;
  padding: 5px;
  border-radius: 100px;
  background: linear-gradient(30deg, #a8f8c9, #0dd8f3);
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 3px;
}

.contents {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: center;
}

.challenge {
  position: relative;
}

.challenge p {
  color: rgb(221, 96, 121);
  font-weight: 600;
  margin-bottom: 0;
}

.hint {
  position: absolute;
  top: 0;
  left: 100%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  /* background-color: #8ec4f1;
  color: white; */
  color: #3b3b3b;
  background: linear-gradient(30deg, #a8f8c9, #0dd8f3);
  
  font-size: 0.6rem;
  line-height: 35px;
  cursor: pointer;
}

.hint-text {
  position: absolute;
  top: -40px;
  right: -150px;
  padding: 3px 20px;
  color: #3b3b3b;
  background: linear-gradient(30deg, #a8f8c9, #0dd8f3);
  /* background-color: #8ec4f1; */
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  font-size: 0.8rem;
  font-weight: 500;
  text-align: left;
  opacity: 0;
  transition: all 0.2s;
}

.hint:hover + .hint-text{
  opacity: 1;
}


.separator {
  width: 1px;
  background-color: black;
}


@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .separator {
    display: none;
  }

  .hint,
  .hint-text {
    display: none;
  }
}